h3 {
  color: gray;
}

h1 {
  padding: 0;
}

.fast {
  background: -webkit-linear-gradient( #373B44, #4286f4);
  -webkit-background-clip: text;
  background-clip: text;
 -webkit-text-fill-color: transparent;
}
@media (min-width: 481px) and (max-width: 767px) {
  .h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .img {
    margin: auto;
    width: 400px;
    padding: 50px;
    font-family: "Avenir", sans-serif;
  }
}

@media (max-width: 480px) {
  .h1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }

  .img {
    margin: auto;
    width: 400px;
    padding: 50px;
    font-family: "Avenir", sans-serif;
  }
}
